In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
alien_data = pd.read_csv("alien_invasion/invasion.csv")
alien_data

,class,g_reflection,i_reflection,speed,brightness,time_of_observance,volume
0,transport,2.190672,6.716633,62.168208,0.347465,158221,44.932446
1,transport,3.453276,8.995909,62.994707,0.590094,385972,41.568300
2,transport,2.432994,6.938691,62.245807,0.329288,446482,40.123467
3,fighter,6.083763,3.019459,18.474555,0.174738,210125,11.384865
4,fighter,12.876769,2.452950,195.805771,0.150446,23109,11.328806
...,...,...,...,...,...,...,...
495,fighter,9.901731,7.162124,58.095069,0.145065,395762,12.901909
496,transport,3.574132,7.118835,62.928159,0.469670,435926,39.926551
497,fighter,9.186049,4.580781,412.102112,0.108195,299594,12.178203
498,fighter,8.278256,8.353756,268.121561,0.132661,361911,13.905809
499,transport,0.860820,8.014988,62.292486,0.304896,364601,46.151972

In [7]:
alien_data.isna().value_counts()

class  g_reflection  i_reflection  speed  brightness  time_of_observance  volume
False  False         False         False  False       False               False     500
dtype: int64

In [8]:
X_train = alien_data.drop(["class"], axis=1)
X_train

,g_reflection,i_reflection,speed,brightness,time_of_observance,volume
0,2.190672,6.716633,62.168208,0.347465,158221,44.932446
1,3.453276,8.995909,62.994707,0.590094,385972,41.568300
2,2.432994,6.938691,62.245807,0.329288,446482,40.123467
3,6.083763,3.019459,18.474555,0.174738,210125,11.384865
4,12.876769,2.452950,195.805771,0.150446,23109,11.328806
...,...,...,...,...,...,...
495,9.901731,7.162124,58.095069,0.145065,395762,12.901909
496,3.574132,7.118835,62.928159,0.469670,435926,39.926551
497,9.186049,4.580781,412.102112,0.108195,299594,12.178203
498,8.278256,8.353756,268.121561,0.132661,361911,13.905809
499,0.860820,8.014988,62.292486,0.304896,364601,46.151972

In [10]:
y_train = alien_data['class']

In [11]:
y_train

0      transport
1      transport
2      transport
3        fighter
4        fighter
         ...
495      fighter
496    transport
497      fighter
498      fighter
499    transport
Name: class, Length: 500, dtype: object

In [12]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV

In [14]:
rf = RandomForestClassifier(random_state=0)

In [15]:
params = {"n_estimators": range(10, 51, 10), "max_depth": range(1, 13, 2), \
          "min_samples_leaf": range(1, 8), "min_samples_split": range(2, 10, 2)}

In [16]:
search = GridSearchCV(rf, param_grid=params, cv=3, n_jobs=-1)

In [17]:
search.fit(X_train, y_train)

GridSearchCV(cv=3, estimator=RandomForestClassifier(random_state=0), n_jobs=-1,
             param_grid={'max_depth': range(1, 13, 2),
                         'min_samples_leaf': range(1, 8),
                         'min_samples_split': range(2, 10, 2),
                         'n_estimators': range(10, 51, 10)})

In [19]:
search.best_params_

{'max_depth': 3,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'n_estimators': 10}

In [20]:
X_test = pd.read_csv("alien_invasion/operative_information.csv")
X_test

,g_reflection,i_reflection,speed,brightness,time_of_observance,volume
0,7.516543,3.916691,513.954279,0.177247,105908,13.267224
1,4.322988,6.967689,63.752970,0.545922,277855,39.833130
2,4.595724,9.098297,62.233948,0.389201,160662,42.014556
3,2.689675,7.964869,62.475495,0.541081,162092,42.056829
4,8.075576,5.169719,336.441261,0.174757,466853,11.779813
...,...,...,...,...,...,...
1495,11.755466,5.583147,325.069957,0.170644,388400,13.210917
1496,12.220137,4.023177,439.975574,0.163958,195305,13.819358
1497,1.611053,7.864930,65.025106,0.430021,307856,47.369083
1498,7.114131,5.532188,391.178342,0.150117,51590,12.447761
1499,3.804275,8.038047,62.345396,0.564630,97284,44.671211

In [21]:
prediction = search.predict(X_test)
prediction

array(['fighter', 'transport', 'transport', ..., 'transport', 'fighter',
       'transport'], dtype=object)

In [23]:
pd.Series(prediction).value_counts()

fighter      675
transport    595
cruiser      230
dtype: int64

In [27]:
pd.DataFrame(search.best_estimator_.feature_importances_, index=X_test.columns).sort_values(by=0, ascending=False)

                           0
brightness          0.363803
volume              0.257661
speed               0.171441
i_reflection        0.124372
g_reflection        0.082723
time_of_observance  0.000000

In [28]:
space_data = pd.read_csv("alien_invasion/space_can_be_a_dangerous_place.csv")
space_data

,r,phi,peradventure_index,dustiness,black_hole_is_near,buggers_were_noticed,nearby_system_has_planemo,dangerous
0,169.1,138.0,22.3212,0.706285,0,1,1,1
1,11.1,148.0,1.4652,-0.410512,1,1,1,1
2,274.6,201.0,36.2472,0.756457,1,1,1,1
3,172.8,173.0,22.8096,0.035221,1,1,1,1
4,223.3,222.0,29.4756,0.197271,0,1,1,1
...,...,...,...,...,...,...,...,...
99995,301.7,249.0,39.8244,0.397064,0,1,1,1
99996,194.0,350.0,25.6080,-1.062202,0,1,1,1
99997,201.4,112.0,26.5848,1.571040,0,1,1,1
99998,7.8,115.0,1.0296,-1.206575,0,1,1,1
99999,189.3,332.0,24.9876,0.932474,0,1,1,1

In [30]:
space_data.isna().value_counts()

r      phi    peradventure_index  dustiness  black_hole_is_near  buggers_were_noticed  nearby_system_has_planemo  dangerous
False  False  False               False      False               False                 False                      False        100000
dtype: int64

In [32]:
X_train_space = space_data.drop("dangerous", axis=1)
X_train_space

,r,phi,peradventure_index,dustiness,black_hole_is_near,buggers_were_noticed,nearby_system_has_planemo
0,169.1,138.0,22.3212,0.706285,0,1,1
1,11.1,148.0,1.4652,-0.410512,1,1,1
2,274.6,201.0,36.2472,0.756457,1,1,1
3,172.8,173.0,22.8096,0.035221,1,1,1
4,223.3,222.0,29.4756,0.197271,0,1,1
...,...,...,...,...,...,...,...
99995,301.7,249.0,39.8244,0.397064,0,1,1
99996,194.0,350.0,25.6080,-1.062202,0,1,1
99997,201.4,112.0,26.5848,1.571040,0,1,1
99998,7.8,115.0,1.0296,-1.206575,0,1,1
99999,189.3,332.0,24.9876,0.932474,0,1,1

In [33]:
y_train_space = space_data['dangerous']

In [35]:
space_rf = RandomForestClassifier(random_state=0)

In [36]:
space_search = GridSearchCV(space_rf, param_grid=params, cv=3, n_jobs=-1)

In [37]:
space_search.fit(X_train_space, y_train_space)

GridSearchCV(cv=3, estimator=RandomForestClassifier(random_state=0), n_jobs=-1,
             param_grid={'max_depth': range(1, 13, 2),
                         'min_samples_leaf': range(1, 8),
                         'min_samples_split': range(2, 10, 2),
                         'n_estimators': range(10, 51, 10)})

In [39]:
pd.DataFrame(space_search.best_estimator_.feature_importances_, index=X_train_space.columns, columns=["importance"])\
                        .sort_values(by="importance", ascending=False)

                           importance
buggers_were_noticed         0.526867
nearby_system_has_planemo    0.429539
black_hole_is_near           0.014486
dustiness                    0.008786
r                            0.007039
peradventure_index           0.007015
phi                          0.006268